<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    
<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="player_1_name">
    <input type="text" name="player_1_name" placeholder="Enter Player 1 Name">
  </label>
  vs.
  <label for="player_2_name">
    <input type="text" name="player_2_name" placeholder="Enter Player 2 Name">
  </label>
  <br>
  <br>
  <input class="btn" type="submit" value="Submit">
</form>
<br>
<br>
 <div class="linktext">
 <a href="<%= uri('/') %>">Start Again!</a></div>

  </div>
</body>
</html>